@charset "UTF-8";
@font-face {
  font-family: 'DinBold';
  src: url("fonts/din-bold.eot");
  src: url("fonts/din-bold.eot?#iefix") format("embedded-opentype"), url("fonts/din-bold.woff") format("woff"), url("fonts/din-bold.ttf") format("truetype"), url("fonts/din-bold.svg#DinBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Din';
  src: url("fonts/din-regular.eot");
  src: url("fonts/din-regular.eot?#iefix") format("embedded-opentype"), url("fonts/din-regular.woff") format("woff"), url("fonts/din-regular.ttf") format("truetype"), url("fonts/din-regular.svg#Din") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro-Regular';
  src: url("fonts/DINPro-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'DINPro-Bold';
  src: url("fonts/DINPro-Bold.otf");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'DINPro-Regular', 'Helvetica', sans-serif;
}

b, strong {
  font-family: 'DINPro-Bold';
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}

p {
  font-size: 24px;
}

.nav-bar .home a {
  font-size: 1.6rem;
}
.nav-bar nav li a {
  font-size: 1.6rem;
}

.nav-bar {
  background-color: rgba(255, 255, 255, 0.8);
}
.nav-bar a {
  color: #000000;
}
.nav-bar a:hover {
  color: #00B4FF;
}
.nav-bar a:active {
  color: #00B4FF;
}

ul.gallery a {
  background-color: rgba(0, 180, 255, 0.7);
  color: white;
}

.blog {
  background: #F4FCFF;
}

.multiple-slider .column {
  background: transparent;
}
.multiple-slider .column:hover {
  background: #95E0FB;
}
.multiple-slider .column:focus {
  outline: none;
}

#footer-bar {
  background-color: #00B4FF;
}

nav li a {
  color: #000000;
}
nav li a:hover {
  color: #00B4FF;
}
nav li a:active {
  color: #00B4FF;
}

.slider h1 {
  color: #FFFFFF;
}
.slider .slick-slide:focus {
  outline: none;
}
.slider .slick-dots li button:hover:before, .slider .slick-dots li button:focus:before {
  opacity: 1;
}
.slider .slick-dots li button:before {
  color: #FFFFFF;
  opacity: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slider .slick-dots li.slick-active button:before {
  color: #00B4FF;
  opacity: 1;
}

body {
  padding-top: 7.5rem;
}

.nav-bar {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  box-sizing: border-box;
}
.nav-bar .container .row {
  margin-right: 10%;
  margin-left: 10%;
}
.nav-bar a {
  text-decoration: none;
}
.nav-bar nav ul {
  list-style: none;
  margin-bottom: 0;
}
.nav-bar nav li {
  margin-bottom: 0;
  display: inline-block;
}
.nav-bar nav li a {
  padding-left: 2rem;
  font-size: 1.6rem;
}
.nav-bar .hamburger {
  display: none;
  position: absolute;
  right: 0;
}

.logo {
  background-image: url("../img/Metod_logo_80.5x40px.png");
  height: 2rem;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  width: 30%;
  float: left;
}

#logo-link {
  height: 2rem;
  width: 4.5rem;
  display: block;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  src: url("../bower_components/slick-carousel/slick/fonts/slick.eot");
  src: url("../bower_components/slick-carousel/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("../bower_components/slick-carousel/slick/fonts/slick.woff") format("woff"), url("../bower_components/slick-carousel/slick/fonts/slick.ttf") format("truetype"), url("../bower_components/slick-carousel/slick/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}

.slick-prev:before, .slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir="rtl"] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir="rtl"] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir="rtl"] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir="rtl"] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: 5%;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: white;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: white;
  opacity: 0.75;
}

.multiple-slider .column {
  transition: .4s;
  margin-left: 0;
  padding: 4rem 8rem;
}

.slider .slick-next {
  right: 50px;
}
.slider .slick-prev {
  left: 50px;
}

.container {
  padding: 0;
  max-width: 120rem;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.vertical-centered {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 100%;
}

.low-centered {
  position: absolute;
  top: 70%;
  /* left: 50%;
  -webkit-transform: translate(-75%,-50%);
  -moz-transform: translate(-75%,-50%);
  -ms-transform: translate(-75%,-50%);
  -o-transform: translate(-75%,-50%);
  transform: translate(-75%,-50%); */
  width: 100%;
  text-align: center;
}

.main-heading {
  text-align: center;
  padding: 10rem 0 2rem;
}

.sub-heading {
  text-align: center;
  padding-top: 7rem;
}

.sub-sub-heading {
  text-align: center;
}

.container.slider {
  position: relative;
}

.boxed-content {
  margin-left: 10%;
  margin-right: 10%;
}

.text-content {
  margin-left: 25%;
  margin-right: 25%;
}
.text-content .fieldnotes {
  margin-bottom: 5rem;
}

.contact-links {
  text-align: center;
  margin-top: 3rem;
}
.contact-links p {
  padding-right: 2rem;
  padding-left: 2rem;
}
.contact-links a .fa-twitter {
  padding-left: 2rem;
}

ul.gallery li {
  margin: 0;
  list-style-type: none;
  display: block;
  float: left;
  position: relative;
  width: 50%;
  height: 0;
  padding-bottom: 37.5%;
  background-size: cover;
  background-position: center;
}
ul.gallery li img {
  max-width: 100%;
}
ul.gallery li a {
  margin: 0;
  opacity: 0;
  transition: .4s;
  width: 100%;
  height: 100%;
  position: absolute;
  display: block;
  text-decoration: none;
}
ul.gallery li a h2 {
  margin: 0;
}
ul.gallery li a:hover {
  opacity: 1;
}

#me img {
  max-width: 100%;
  transform: translateY(-33%);
  margin: auto;
  display: block;
}

#footer-bar {
  margin-top: 3rem;
}
#footer-bar p {
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  color: white;
  margin: 0;
}

.contact-links a {
  text-decoration: none;
}

img :focus {
  outline: none;
}

@media (max-width: 120rem) {
  .container {
    width: 100%;
  }

  .nav-bar {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .slick-slide img {
    width: 100%;
  }
}
@media (max-width: 60rem) {
  .nav-bar nav {
    display: none;
  }
  .nav-bar .hamburger {
    display: block;
  }

  .text-content {
    margin-left: 15%;
    margin-right: 15%;
  }
}

/*# sourceMappingURL=main.css.map */
