#me
{
	img
	{
		max-width: 100%;
	    transform: translateY(-10%);
	    margin: auto;
	    display: block;
	}
}

#footer-bar
{
    margin-top: 3rem;
	p
	{
		text-align: center;
		padding-top: 2.2rem;
		padding-bottom: 2.2rem;
		color: white;
		margin: 0;
	}
}

.arrow
{
	a 
	{
		text-decoration: none;
		font-size: 3rem;
	}
}

.columns.me-blurb
{
	// margin-left: 0;
}