#me
{
	img
	{
		max-width: 100%;
	    transform: translateY(-33%);
	    margin: auto;
	    display: block;
	}
}

#footer-bar
{
    margin-top: 3rem;
	p
	{
		text-align: center;
		padding-top: 2rem;
		padding-bottom: 2rem;
		color: white;
		margin: 0;
	}
}