ul.gallery {
	
	li {
		margin: 0;
		list-style-type: none;
		display: block;
		float: left;
		position: relative;
		
		width: 50%;
		// trick to make the li 4:3 (50 : 37.5)
		height: 0;
	    padding-bottom: 37.5%;
	    
	    background-size: cover;
        background-position: center;

		img {
			max-width: 100%;
		}

		a {
			margin: 0;
			opacity: 0;
			transition: .4s;
			width: 100%;
			height: 100%;
			position: absolute;
			display: block;
			text-decoration: none;

			h3 {
				margin: 0;
			}

			&:hover {
				opacity: 1;
			}
		}
	}
}