body
{
	padding-top: 7rem;
}

.nav-bar
{
	position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    
    box-sizing: border-box;

    a {
    	text-decoration: none;
    }

	nav
	{
		ul 
		{
		  list-style: none;
		  margin-bottom: 0;
		}

		li
		{
		  margin-bottom: 0;
		  display: inline-block;

		  a
		  {
		  	// padding: 2rem 1rem;
		  	padding-left: 2rem;
		  }
		}
	}

	.hamburger
	{
		display: none;
		position: absolute;
	    // top: 2rem;
	    right: 0;
	}
}
