body
{
  padding-top: 7.5rem;
}

.nav-bar
{
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  box-sizing: border-box;

  .container
  {
    .row
    {
      margin-right: 10%;
      margin-left: 10%;
    }
  }

  a
  {
    text-decoration: none;
  }

  input.trigger
  {
    position: absolute;
    top: -9999rem;
    left: -9999rem;

    &:checked
    {
      & ~ ul
      {
        display:block !important;
      }

      & ~ label
      {
        transform: rotateZ(45deg);
        // + ×
        right: -7px;
        top: 1px;
      }
    }
  }

  .hamburger
  {
    display: none;
    position: fixed;
    top: 0;
    right: -5px;
    cursor: pointer;
    padding: 2.5rem;
    margin-bottom: 0;
    font-size: 140%;
    line-height: 1;
  }

  nav
  {
    ul
    {
      list-style: none;
      margin-bottom: 0;
      line-height: 1;

      li
      {
        margin-bottom: 0;
        display: inline-block;
        line-height: 1;

        a
        {
          // padding: 2rem 1rem;
          padding-left: 2rem;
          // font-size: 1.6rem;
        }
      }
    }
  }
}

.logo
{
  background-image: url('../img/Metod_logo_80.5x40px.png');
  height: 2rem;
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
  width: 48px;
  float: left;
  // padding-right: 2rem;
}

#logo-link
{
  height: 2rem;
  width: 4.5rem;
  display: block;
}
