@media (max-width: 120rem)
{
	.container
	{
		width: 100%;
	}

	.nav-bar
	{
		padding-left: 2rem;
		padding-right: 2rem;
	}

	.slick-slide img
	{
		width: 100%;
	}
}

@media (max-width: 60rem)
{
	.nav-bar
	{
		nav ul
		{
			display: none;
	    float: none;
			margin-top: 3.5rem;

			li
			{
				display: block;

				a
				{
					display: block;
					text-align: right;
					padding-left: 0;
				}
			}
		}

		.hamburger
		{
			display: block;
		}
	}

	.text-content
	{
	  margin-left: 15%;
	  margin-right: 15%;
	}

	.nav-bar .container .row
	{
		margin-right: 0;
		margin-left: 0;
	}
}

@media (max-width: 549px)
{
	ul.gallery li
	{
		width: 100%;
		padding-bottom: 50%;
	}

	.hide-for-mobile
	{
		display: none;
	}

}


@media (max-width: 25rem)
{
	ul.gallery li
	{
		padding-bottom: 66.66%;
	}
}
