body {
	font-family: 'DINPro-Regular', 'Helvetica', sans-serif;
	text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b, strong {
	font-family: 'DINPro-Bold';
}

h1
{
	font-size: 72px;
}

h2
{
	font-size: 48px;
}

h3
{
	font-size: 36px;
}

p
{
	font-size: 24px;
}

.nav-bar
{
	.home a
	{
		font-size: 1.6rem;
	}

	nav
	{

		li
		{
		  a
		  {
		  	font-size: 1.6rem;
		  }
		}
	}

}

.slick-prev:before, .slick-next:before 
{
    font-family: 'DINPro-Regular';
    font-size: 5rem;
    font-weight: 200;

}

a i.fa-2x
{
	font-size: 3rem;
}
